body {
    text-align: center;
    color: rgb(28, 7, 87);
    font-family: Arial, Helvetica, sans-serif;
}

#post {
    background-color: rgb(136, 136, 187);
    align-content: center;
    
    
}
#cabecera {
    background-color: black;
    color: white;
    border-radius: 2rem;
   
}

.conteiner {
    background-color: rgb(166, 166, 187);
    align-content: center;
    margin-left: 40%;
    max-width: 400px;
    border-radius: 2rem;
    position: relative;
    
}
