body {
    text-align: center;
    color: rgb(28, 7, 87);
    font-family: Arial, Helvetica, sans-serif;
}

.conteiner {
    background-color: rgb(136, 136, 187);
    align-content: center;
    margin-left: 40%;
    max-width: 400px;
    border-radius: 2rem;
    padding-top: 2em;
    position: absolute;
    
}
#cabecera {
    background-color: black;
    color: white;
    border-radius: 2rem;
}